/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

.navbar {
  background-color: #1a1a1d;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  bottom: 40px; /* Ajuste para estar más arriba */
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.navbar:hover {
  box-shadow: 0 0 20px #000000, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff; /* Efecto de neón firme */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0 20px;
  width: auto;
}

.nav-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  transition: all 0.5s ease;
}

.nav-menu.active {
  visibility: visible;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 10px;
  position: relative;
}

.nav-links:hover {
  color: #ffffff; /* Color neon */
}

.nav-item {
  margin-right: 1rem;
}

.nav-item .active {
  color: #ff0000; /* Color neon */
  background-color: #333;
  border-radius: 10px;
  position: relative;
}

.nav-item .active:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: rgba(0, 0, 0, 0.5); /* Color neon con opacidad */
  filter: blur(15px); /* Efecto de neón */
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.nav-links:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.5); /* Color neon con opacidad */
  filter: blur(15px); /* Efecto de neón */
  z-index: -1;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.nav-links:hover:before {
  width: 150%;
  height: 150%;
}

.nav-icon {
  display: none;
  cursor: pointer;
  color: #fff;
}

.nav-icon .icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 70px;
    background-color: #1a1a1d;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    visibility: visible;
    opacity: 1;
  }

  .nav-links {
    padding: 1rem;
  }

  .nav-icon {
    display: block;
  }
}
